*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image: url(../img/fondoMarvel.jpg);
}

header{
    background-color: rgb(0, 0, 0);
}

h1{
    text-align: center;
    color: rgb(250, 77, 77);
}

.subtitulo{
    border-radius: 5px;
    padding: 0.2rem;
    background-color: aliceblue;
    margin-top: 20rem;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: center;   
}

.contenedorTitulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}