*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image: url(../img/fondoMarvel.jpg);
}

header{
    background-color: rgb(0, 0, 0);
}

h1{
    text-align: center;
    color: rgb(250, 77, 77);
}

.subtitulo{
    border-radius: 5px;
    padding: 0.2rem;
    background-color: aliceblue;
    margin-top: 2rem;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: center;   
}

.contenedorTitulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.baseCarrito {
    margin: 10%;
   background-color: rgb(122, 50, 50);
   
}

.product-details{
    display: inline-block;
    margin-left: 7rem;
    font-weight: bold;
}

#remove-product{
    height: 50px;
    width: 100px;
    font-weight: bold;
    text-align: center;
}


.producto-carrito{
    margin: auto;
}

.carrito-img {
    width: 150px;
    display: inline-block;
}